@model MicroVistaMVC.Models.StudentClass

<h4>StudentClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentId" />
            <div class="form-group">
                <label asp-for="StudentMail" class="control-label"></label>
                <input asp-for="StudentMail" class="form-control" />
                <span asp-validation-for="StudentMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentDOB" class="control-label"></label>
                <input asp-for="StudentDOB" class="form-control" />
                <span asp-validation-for="StudentDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAddress" class="control-label"></label>
                <input asp-for="StudentAddress" class="form-control" />
                <span asp-validation-for="StudentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentPassword" class="control-label"></label>
                <input asp-for="StudentPassword" class="form-control" />
                <span asp-validation-for="StudentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentImage" class="control-label"></label>
                <input asp-for="StudentImage" class="form-control" />
                <span asp-validation-for="StudentImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

