@model IEnumerable<MicroVistaMVC.Models.StudentPostClass>

@{
    ViewData["Title"] = "SocialMedia";
}


@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor






<div class="row">

    <div class="col-lg-2">

    </div>

    <div class="col-lg-7">
        <div class="container-fluid row-padding">

            @{
                if (HttpContextAccessor.HttpContext.Session.GetString("StudentName") != null)
                {
                    Html.RenderPartialAsync("AddingPost");

                }

        }


            <hr />

            @foreach (var item in Model.Reverse())
            {


                <div class="w3-container w3-card w3-white w3-round w3-margin">
                    <br>
                    <img src="~/uploads/@Html.DisplayFor(modelItem => item.StudentPostProfileImage)" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                    
                    <span class="w3-right w3-opacity">32 min</span>
                    <br />
                    <h4>@Html.DisplayFor(modelItem => item.StudentPostProfileName)</h4><br>
                    <hr class="w3-clear">
                    <p>Have you seen this?</p>
                    <img src="~/userpost/@Html.DisplayFor(modelItem => item.StudentPostImage)" style="width:100%" class="w3-margin-bottom">
                    <br /> <br />
                    <h2>@Html.DisplayFor(modelItem => item.StudentPostSummary)</h2>
                    <br />
                </div>

            }



        </div>
    </div>


    <div class="col-lg-3">



        @{
            if (HttpContextAccessor.HttpContext.Session.GetString("StudentName") != null)
            {
                Html.RenderPartialAsync("ProfileImage");

            }

        }

    </div>

</div>

